/*Element type selector*/
h2{
    color:cyan
}
/*Grouping Selector*/
h1,h2,h3{
    font-size: 50px;
}
/*Class Selector*/
.sheet{
    text-decoration: underline;
    text-transform: uppercase   
}
/*Id Selector*/
#Google{
    background-color: brown;
    color: darkorange;
    height: 100px;
}
/*Pseudo Selector*/